<!-- Generated template for the PopoverComponent component -->
<div>
    <ion-list>
      <ion-item>
        <button ion-button icon color ='dark' clear small (click) = "UpdateProfilePic()">
          <ion-icon name="camera"></ion-icon>
             Change picture
        </button>
      </ion-item>
    <ion-item>
        <button ion-button icon color ='dark' clear small (click) = "RemoveProfilePic()">
          <ion-icon name="trash"></ion-icon>
             Remove
        </button>
      </ion-item>
    </ion-list>
</div>
