page-user-uploads {

    ion-title{
        text-align: center;
        //font-size: 10em;
    } 


    .box
    {
        border: 6px solid #3B7AE6;
        padding: 8px;
        text-align: center;
        color: #011627; 
    }

    p
    {
        font-style: italic;
    }
}
