page-home {

    ion-title{
        text-align: center;
    }

}
  

.votebox {
    height: 120px;
    width: 120px;
    display: flex;
    text-align: center;
    flex-direction: column;
    font-size: 2em;
  
    .vote {
      cursor: pointer;
      &:hover {
        color: orange;
      }
    }
    
    h4{
      text-align: center;
      font: 100 130px/0.8 'Great Vibes', Helvetica, sans-serif;
      font-style: italic;
      color: black;
      text-shadow: 4px 4px 3px rgba(0,0,0,0.1); 
    }

    .active.up {
        color: green;
      }
  
    .active.down {
       color: red;
     }
  
  }