<link href="https://fonts.googleapis.com/css?family=Sacramento" type="text/css" rel="stylesheet">


<ion-header>
  <ion-navbar>
      <ion-title><h2>Atelier</h2></ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content
      refreshingSpinner="circles"
      refreshingText="Refreshing...">
    </ion-refresher-content>
  </ion-refresher>
    <!--<ion-searchbar (ionInput)="getItems($event)"></ion-searchbar>-->
    <ion-list>
      <ion-item *ngFor="let item of items">
        {{ item }}
      </ion-item>
    </ion-list> 
    
    <ion-list>
      <ion-item *ngFor="let item of allposts;let i=index" style="width: 100%">

        <div class="b">
          <button ion-button icon-start clear large (click)= "ProfilePageClick()"  class = "button.b1 ">
          <!-- <ion-item-divider> -->
            <ion-avatar item-start>
                <img  src="{{allposts[i].userpic}}">
            </ion-avatar> 
            <!-- <ion-title text-left color = "calm"> -->
                <p text-wrap style="font-family: Arial, Helvetica, sans-serif; font-weight: bold; color: black ; text-align: justify" >
                  {{allposts[i].username}}</p><br>
                <!-- </ion-title> -->
          
          <!-- </ion-item-divider> -->
        </button>
        </div>

          <!-- </ion-row> -->
        <ion-row>
          <div style="width: 100% !important;">
            <img  src="{{allposts[i].posturl}}"  maxlength="100%"/>
          </div>
        </ion-row>
        <ion-row>

          <!-- <ion-item (click)="toggleHeart()">
            <ion-icon [name]="heartType">
            </ion-icon>
          </ion-item> -->
          <ion-col>
              <button ion-button icon-start clear small (click)="liked(i)">
                  <ion-icon name="thumbs-up"></ion-icon>
                  {{allposts[i].likes}} Likes
                </button>
          </ion-col> 


          <ion-col>
            <button ion-button icon-start clear small>
              <ion-icon name="text"></ion-icon>
              <!--</button (click)="goToPage()"></button>-->
              <!--<button ion-button (click)="btnclicked()">Comments</button> -->
              <div><button ion-button icon-stat clear small (click) = "btnclicked()">
                Comments
              </button></div> 
            </button>
          </ion-col>
        </ion-row>
        <ion-row>
          <p style="font-family: Helvetica, sans-serif; font-weight: normal; color: black; text-align: justify">
            {{allposts[i].description}} </p>
        </ion-row> 
      </ion-item>

    </ion-list>

      <br/>
      <br/>
      <br/>

</ion-content>

<script src="https://www.gstatic.com/firebasejs/5.6.0/firebase.js"></script>
<script>
  // Initialize Firebase
  var config = {
    apiKey: "AIzaSyDUn8OuO3b6wtnn1g78EqzRUUZJMPof8tU",
    authDomain: "atelier-842ac.firebaseapp.com",
    databaseURL: "https://atelier-842ac.firebaseio.com",
    projectId: "atelier-842ac",
    storageBucket: "atelier-842ac.appspot.com",
    messagingSenderId: "781691867947"
  };
  firebase.initializeApp(config);
</script>

<style>
    h2{
      font-size: 1.6em;
      font-weight:bold;
      text-align: center;
      font-family: Sacramento;
      font-style: cursive;
      color: black;
      text-shadow: 4px 4px 4px rgba(0,0,0,0.1); 
    }
</style>