page-home {

    ion-title{
        text-align: center;
    }

}
  

.votebox {
    height: 120px;
    width: 120px;
    display: flex;
    text-align: center;
    flex-direction: column;
    font-size: 2em;
  
    .vote {
      cursor: pointer;
      &:hover {
        color: orange;
      }
    }
    
    page-home{
      toolbar-title toolbar-title-ios { 
        font-size: 3.0rem;
      }
    
      toolbar-title toolbar-title-md { 
        font-size: 2rem;
      }
    
      toolbar-title toolbar-title-wp { 
        font-size: 1.5rem;
      }
    }

    .active.up {
        color: green;
      }
  
    .active.down {
       color: red;
     }
  
  }