<!--
  Generated template for the FriendchatPage page.
  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->

<!--
  Some of the code in this page is modeled from that of https://tphangout.com/chat-app-with-ionic-3-firebase-ep-8-one2one-chat/
  Author of code from above link: Raja Yogan
-->

<ion-header>
 
  <ion-navbar color="hcolor">
    <ion-title>{{friend.displayName}}</ion-title>
  </ion-navbar>
 
</ion-header>
 
 
<ion-content #content>
<div class = "chat">
  <ion-list no-lines>
    <ion-item *ngFor = "let item of allmessages; let i = index" text-wrap>
      <ion-avatar item-left *ngIf="item.sentby === friend.uid">
        <img src="{{friendimg}}">
      </ion-avatar>
      <div class="text2 me" *ngIf="item.sentby === friend.uid">
        <h3 style="color:black">{{item.message}}</h3>
      </div>
      <ion-avatar item-right *ngIf="item.sentby != friend.uid">
        <img src="{{userimg}}">
      </ion-avatar>
      <div class="text friend" *ngIf="item.sentby != friend.uid">
        <h3 style="color:white">{{item.message}}</h3>
      </div>
    </ion-item>
  </ion-list>
</div>
</ion-content>
<ion-footer ion-fixed>    
  <ion-toolbar class="no-border" color="white">        
    <ion-input [(ngModel)]="newmessage" placeholder="Type message..."></ion-input>  
    <ion-buttons end>
      <button ion-button (click)="addmessage()">
        <ion-icon name="paper-plane" color="primary"></ion-icon>
      </button>
    </ion-buttons>
  </ion-toolbar>    
</ion-footer>
